@media only screen and (max-width: 960px) {
  .md_display_none {
    display: none;
  }
  .md_position_absolute {
    position: absolute;
  }

  .md_text_center {
    text-align: center;
  }

  .md_max_width_full {
    max-width: 100%;
  }

  .md_margin_lr {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .md_pos-r-10 {
    right: 10px;
  }

  .md_pos-t-65 {
    top: 65px;
  }
}
