html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  text-rendering: optimizelegibility;
  background-color: #fffefa;
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
  word-break: break-word;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.transition_3 {
  transition: all 0.3s ease 0s;
}

.pullUP {
  transform: translateY(-20px) scale(1);
}
