.in-flex {
  display: inline-flex;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--justify-end {
  justify-content: end;
}

.flex--justify-start {
  justify-content: flex-start;
}

.flex--justify-center {
  justify-content: center;
}

.flex--items-center {
  align-items: center;
}

.flex--align-stretch {
  align-items: stretch;
}

.flex--items-start {
  align-items: flex-start;
}

.flex--inline {
  display: inline-flex;
}

.flex-gap-s {
  gap: 20px;
}

.flex-gap-m {
  gap: 40px;
}

.flex-gap-l {
  gap: 60px;
}



.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-inherit {
  flex-grow: inherit;
}

.flex-basis-25 {
  flex-basis: 25%;
}

.flex__shrink0 {
  flex-shrink: 0 !important;
}

.flex__large {
  flex-grow: 2;
}

.flex__logo {
  width: 30px;
  height: auto;
}